{% extends 'base.html' %}
{% load static %}

{% block title %}Supprimer fiche de paie - HRFlow{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/modules.css' %}">
{% endblock %}

{% block content %}
<div class="module-page">

    <div class="module-card form-card text-center">
        <h1 class="module-title">Supprimer cette fiche de paie ?</h1>

        <p class="module-subtitle mb-4">
            Cette action supprimera la fiche de paie de
            <strong>{{ payroll.employee }}</strong>
            pour <strong>{{ payroll.get_month_display }} {{ payroll.year }}</strong>.
        </p>

        <form method="post">
            {% csrf_token %}

            <div class="d-flex justify-content-center gap-2 flex-wrap">
                <button type="submit" class="btn-danger-soft">
                    Oui, supprimer
                </button>

                <a href="{% url 'payroll_list' %}" class="btn-outline-soft">
                    Annuler
                </a>
            </div>
        </form>
    </div>

</div>
{% endblock %}