<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HRFlow{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Accueil</a>

        {% if user.is_authenticated %}
            <a href="{% url 'role_redirect' %}">Dashboard</a>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Déconnexion</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Connexion</a>
        {% endif %}
    </nav>

    <hr>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>