{% extends 'base.html' %}
{% load static %}

{% block title %}Détail présence - HRFlow{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/modules.css' %}">
{% endblock %}

{% block content %}
<div class="module-page">

    <div class="module-header">
        <div>
            <h1 class="module-title">Détail présence</h1>
            <p class="module-subtitle">Informations complètes du pointage.</p>
        </div>

        <a href="{% url 'attendance_list' %}" class="btn-outline-soft">
            Retour
        </a>
    </div>

    <div class="module-card">
        <div class="detail-row">
            <strong>Employé :</strong> {{ attendance.employee }}
        </div>

        <div class="detail-row">
            <strong>Date :</strong> {{ attendance.date }}
        </div>

        <div class="detail-row">
            <strong>Heure d’arrivée :</strong> {{ attendance.check_in|default:"-" }}
        </div>

        <div class="detail-row">
            <strong>Heure de départ :</strong> {{ attendance.check_out|default:"-" }}
        </div>

        <div class="detail-row">
            <strong>Statut :</strong> {{ attendance.get_status_display }}
        </div>

        <div class="detail-row">
            <strong>Heures travaillées :</strong> {{ attendance.worked_hours|default:"-" }}
        </div>

        <div class="detail-row">
            <strong>Note :</strong> {{ attendance.note|default:"-" }}
        </div>
    </div>

</div>
{% endblock %}