{% extends 'base.html' %}

{% block title %}Dashboard Admin{% endblock %}

{% block content %}
    <h1>Dashboard Admin</h1>
    <p>Bienvenue {{ user.username }}.</p>

    <ul>
        <li><a href="{% url 'user_list' %}">Gérer les utilisateurs</a></li>
        <li><a href="{% url 'employee_list' %}">Gérer les employés</a></li>
        <li><a href="{% url 'employee_create' %}">Créer une fiche employé</a></li>
        <li><a href="{% url 'department_list' %}">Gérer les départements</a></li>
        <li><a href="{% url 'attendance_list' %}">Toutes les présences</a></li>
        <li><a href="{% url 'document_list' %}">Tous les documents</a></li>
        <li><a href="{% url 'document_create' %}">Ajouter un document</a></li>
        <li><a href="{% url 'payroll_list' %}">Toutes les fiches de paie</a></li>
        <li><a href="{% url 'salary_history_list' %}">Historique des salaires</a></li>
    </ul>

    <p>
        Workflow conseillé : créer d’abord le compte utilisateur, puis créer sa fiche employé.
    </p>
{% endblock %}