{% extends 'base.html' %}

{% block title %}Dashboard RH{% endblock %}

{% block content %}
    <h1>Dashboard RH</h1>
    <p>Bienvenue {{ user.username }}.</p>

    <ul>
        <li><a href="{% url 'employee_list' %}">Gérer les employés</a></li>
        <li><a href="{% url 'department_list' %}">Gérer les départements</a></li>
        <li><a href="{% url 'leave_list' %}">Suivre les congés</a></li>
        <li><a href="{% url 'leave_create' %}">Faire une demande de congé</a></li>
        <li><a href="{% url 'attendance_list' %}">Suivre les présences</a></li>
        <li><a href="{% url 'attendance_admin_create' %}">Ajouter une présence</a></li>
    </ul>
{% endblock %}