{% extends 'base.html' %}

{% block title %}Dashboard Manager{% endblock %}

{% block content %}
    <h1>Dashboard Manager</h1>
    <p>Bienvenue {{ user.username }}.</p>

    <ul>
        <li><a href="{% url 'employee_list' %}">Mon équipe</a></li>
        <li><a href="{% url 'leave_list' %}">Demandes de congé à traiter</a></li>
        <li><a href="{% url 'leave_create' %}">Faire une demande de congé</a></li>
        <li><a href="{% url 'attendance_list' %}">Présences de mon équipe</a></li>
        <li><a href="{% url 'document_list' %}">Documents de mon équipe</a></li>
    </ul>
{% endblock %}